/*http://erikasarti.net/html/tabela-cores/*/

/*
    btn-header
*/
.smart-btn-header {
    background-image: none !important;
    border-style: none !important;

    border-radius: 50% !important;
    background-color: rgb(246, 246, 246) !important;
}

.smart-btn-header.x-btn-pressed {
    border-color: rgb(255, 255, 0) !important;
}

.smart-btn-header.x-btn-focus, .x-btn-focus.x-btn-pressed {
    box-shadow: 0px 0px 0px 0px inset !important;
}

.smart-btn-header .x-btn-icon-el-default-small {
    color: rgb(119,136,153) !important;
}

.smart-btn-header-over .x-btn-icon > .x-btn-icon-el {
    color: black !important;
}

.smart-btn-header-over {
    background-color: rgb(255, 255, 0)!important;
    border-color: rgb(255, 255, 0) !important;

    top: -7px;
    left: -7px;
    box-shadow: 0 0 0 4px rgba(119,136,153,.4);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(.8);
    opacity: 1;
}

/*
    btn-green
    rgb(179, 219, 101);
*/
/*.smart-btn-green {*/
    /*background-image: none !important;*/
    /*border-width: 1px !important;*/
    /*border-style: solid !important;*/
    /*background-color: rgb(179, 219, 101) !important;*/
    /*border-color: rgb(179, 219, 101) !important;*/
/*}*/

/*.smart-btn-green-over {*/
    /*background-color: rgb(179, 219, 101) !important;*/
    /*border-color: rgb(179, 219, 101) !important;*/
/*}*/

/*.smart-btn-green.x-btn-pressed {*/
    /*background-color: rgb(179, 219, 101) !important;*/
    /*border-color: rgb(179, 219, 101) !important;*/
/*}*/

/*.smart-btn-green.x-btn-focus, .x-btn-focus.x-btn-pressed {*/
    /*box-shadow: 0px 0px 0px 0px inset !important;*/
/*}*/

/*.smart-btn-green .x-btn-inner {*/
    /*color: black !important;*/
/*}*/


/*
    btn-blue
*/
.smart-btn-blue {
    color: white !important;
    background-image: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    background-color: rgb(102, 0, 255) !important;
    border-color: rgb(102, 0, 255) !important;
}

.smart-btn-blue-over {
    color: white !important;
    background-color: rgb(51, 0, 153) !important;
    border-color: rgb(51, 0, 153) !important;
}

.smart-btn-blue.x-btn-pressed {
    color: white !important;
    background-color: rgb(102, 0, 255) !important;
    border-color: rgb(102, 0, 255) !important;
}

.smart-btn-blue.x-btn-focus, .x-btn-focus.x-btn-pressed {
    color: white !important;
    box-shadow: 0px 0px 0px 0px inset !important;
}

/*
    btn-green
*/
.smart-btn-green {
    color: white !important;
    background-image: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    background-color: rgb(0, 125, 113) !important;
    border-color: rgb(0, 125, 113) !important;
}

.smart-btn-green-over {
    color: white !important;
    background-color: rgb(0, 51, 51) !important;
    border-color: rgb(0, 51, 51) !important;
}

.smart-btn-green.x-btn-pressed {
    color: white !important;
    background-color: rgb(0, 125, 113) !important;
    border-color: rgb(0, 125, 113) !important;
}

.smart-btn-green.x-btn-focus, .x-btn-focus.x-btn-pressed {
    color: white !important;
    box-shadow: 0px 0px 0px 0px inset !important;
}

/*.smart-btn-blue .x-btn-inner {*/
    /*color: black !important;*/
/*}*/

/*
    btn-red
*/
.smart-btn-red {
    background-image: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    background-color: #FB3C4A !important;
    border-color: #FB3C4A !important;
}

.smart-btn-red-over {
    background-color: #DF0010 !important;
    border-color: #DF0010 !important;
}

.smart-btn-red.x-btn-pressed {
    background-color: #990000 !important;
    border-color: #990000 !important;
}

.smart-btn-red.x-btn-focus, .x-btn-focus.x-btn-pressed {
    box-shadow: 0px 0px 0px 0px inset !important;
}

.smart-btn-red .x-btn-inner {
    color: white !important;
}

/*
    btn-sepia
*/
.smart-btn-sepia {
    background-image: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    background-color: rgb(146, 151, 128) !important;
    border-color: rgb(146, 151, 128) !important;
}

.smart-btn-sepia-over {
    background-color: rgb(240, 240, 240) !important;
    border-color: rgb(146, 151, 128) !important;
}

/*rgb(242, 225, 145)*/

.smart-btn-sepia-over .x-btn-icon > .x-btn-icon-el {
    color: rgb(146, 151, 128) !important;
}

.smart-btn-sepia.x-btn-pressed {
    background-color: rgb(138, 155, 15) !important;
    border-color: rgb(138, 155, 15) !important;
}

.smart-btn-sepia.x-btn-focus, .x-btn-focus.x-btn-pressed {
    box-shadow: 0px 0px 0px 0px inset !important;
}

/*
    btn-darkred
*/
.smart-btn-darkred {
    background-image: none !important;
    border-style: none !important;
    border-color: rgba(128,0,0, 1) !important;
}

.smart-btn-darkred-over {
    background-color: rgba(220,20,60, 1) !important;
    border-color: rgba(220,20,60, 1) !important;
}

.smart-btn-darkred .x-btn-icon > .x-btn-icon-el {
    font-size: 24px !important;
}

.smart-btn-darkred-over .x-btn-icon > .x-btn-icon-el {
    color: white !important;
}


.smart-btn-darkred.x-btn-pressed {
    border-color: rgba(220,20,60, .5) !important;
}

.smart-btn-darkred.x-btn-focus, .x-btn-focus.x-btn-pressed {
    box-shadow: 0px 0px 0px 0px inset !important;
}

/*
    btn-noborder
*/
.smart-btn-noborder {
    background-image: none !important;
    border-style: none !important;
}

.smart-btn-noborder .x-btn-icon > .x-btn-icon-el {
    font-size: 24px !important;
}

.smart-btn-noborder-over .x-btn-icon > .x-btn-icon-el {
    color: black !important;
    font-size: 24px;
}

.smart-btn-noborder-over {
    background-color: rgb(255, 255, 0)!important;
    border-color: rgb(255, 255, 0) !important;
}

.smart-btn-noborder.x-btn-pressed {
    border-color: rgb(255, 255, 0) !important;
}

.smart-btn-noborder.x-btn-focus, .x-btn-focus.x-btn-pressed {
    box-shadow: 0px 0px 0px 0px inset !important;
}

/*
    menustore
*/
.smart-btn-menustore .x-btn-wrap-default-toolbar-large.x-btn-arrow-right:after {
    color: black !important;
}

.smart-btn-menustore .x-btn-inner {
    font-size: 26px !important;
    font-weight: 700 !important;
    color: black !important;
}

.smart-btn-menustore {
    background-image: none !important;
    border-style: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.smart-btn-menustore-over .x-btn-icon > .x-btn-icon-el {
    color: black !important;
}

.smart-btn-menustore .x-btn-icon > .x-btn-icon-el {
    color: black !important;
}

.smart-btn-menustore-over {
    background-color: transparent !important;
    border-color: transparent !important;
}

.smart-btn-menustore.x-btn-pressed {
    border-color: transparent !important;
}

.smart-btn-menustore.x-btn-focus, .x-btn-focus.x-btn-pressed {
    box-shadow: 0px 0px 0px 0px inset !important;
}

.smart-btn-menustore.x-btn-default-toolbar-large {
    border-color: transparent !important;
}

.x-btn-icon-el-default-large {
    height: inherit !important;
}

.smart-btn-insert-record {
    line-height: 15px;
    cursor: pointer;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.smart-btn-insert-record:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}