.main-toolbar-color {
    background-color: rgb(0, 153, 0) !important;
}

/*
    datepicker
*/

.sator .x-datepicker-month {
    background: #c0d7c0;
}

.sator .x-datepicker-month .x-btn-inner {
    font-weight: 700;
}

.sator .x-datepicker-column-header-inner {
    font-weight: 700;
}

.sator .x-datepicker-date {
    font: 300 17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 30px;
}
/*.sator .x-datepicker-arrow:before {*/
    /*background: #c0d7c0;*/
/*}*/

/*
    panel
*/

.processing-panel-header-flow > .x-panel-header-default {
    background-color: rgb(242, 225, 145);
}

/*
    gridpanel
*/

.processing-update-grid {
    z-index: 0 !important;
}

.processing-update-grid .x-tree-icon {
    height: 10px;
}

.processing-update-grid .fa {
    margin-top: 2px;
}

.processing-update-grid .x-tree-node-text {
    padding-left: 22px;
}

.processing-update-grid .x-grid-td {
    vertical-align: middle;
}

.processing-update-grid .x-grid-cell-inner {
    font-size: 16px !important;
    line-height: 19px !important;
    /*font-family: 'Lucida Sans Typewriter';*/
}

.processing-update-grid .x-grid-body {
    border-width: 1px 1px 1px;
}

.processing-update-grid .x-grid-cell-inner-action-col {
    text-align: center !important;
}

.processing-update-grid .x-tree-icon {
    width: 0px !important;
}

/*
    fieldtext
*/

.processing-field-font {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.processing-field .x-form-text {
    opacity: .5;
    height: 25px;
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.processing-field .x-form-trigger {
    line-height: 37px !important;
}

.processing-field .x-form-spinner-default {
    line-height: 34px !important;
}

.processing-field .x-form-trigger-default {
    color: rgb(0, 0, 0);
    background: rgb(208, 208, 208);
}

/*.processing-field .x-form-trigger-default:before {*/
    /*font-size: 19px;*/
/*}*/

.portrait-label {
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/*
    dataview
*/

.thumb-wrap {
    float: left;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 20px 0 20px 20px;
    border: 2px solid transparent;
}

.thumb-wrap .thumb-flow {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/stage/FlowType.png);
}

.thumb-wrap span {
    width: 100%;
    display: block;
    overflow: hidden;
    font-weight: 500;
    text-align: center;
    border: 2px solid transparent;

    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.thumb-wrap:hover span {
    /*font-weight: 700;*/
    /*color: rgb(192, 41, 66);*/
    /*color: rgb(248, 202, 0);*/
    color: rgb(28, 240, 17);
}

.thumb-flow-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    background: rgb(251, 228, 0);
    border: 2px solid rgb(237, 138, 0);
}

.thumb-wrap .thumb-action-001 {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/stage/MaterialReader.png);
}

.thumb-wrap .thumb-task-001 {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/stage/ConferMaterial.png);
}

.thumb-wrap .thumb-task-002 {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/stage/ConferInput.png);
}

.unconformities {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
}

.legend001 { background: rgb(251, 228, 0); }
.legend002 { background: rgb(189, 21, 80); }
.legend003 { background: rgb(189, 21, 80); }
.legend004 { background: rgb(189, 21, 80); }
.legend005 { background: rgb(189, 21, 80); }
.legend006 { background: rgb(189, 21, 80); }
.legend007 { background: rgb(189, 21, 80); }
.legend008 { background: rgb(189, 21, 80); }
.legend009 { background: rgb(189, 21, 80); }
.legend010 { background: rgb(99, 98, 248); }

.flowprocessingstep .x-grid-item {
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
     background-color: transparent !important;
}

.flowprocessingstep .x-grid-item:hover {
    color: rgb(251, 228, 0);
}

.flowprocessingstep .x-grid-empty {
    display: none;
}